.mainChat
  .mainChat__info
    .mainChat__info__group
      .mainChat__info__group--name
        test
      .mainChat__info__group--contributor
        Member : masa
    .mainChat__info__edit
    = link_to "#", class: "mainChat__info__edit__btn" do
      Edit
  .mainChat__message
    .mainChat__message__items
      .mainChat__message__items__title
        .mainChat__message__items__title--name
          masa
        .mainChat__message__items__title--date
          2019/11/20(Web) 17.43.01
      .mainChat__message__items--writing
        おはよう！  
  .mainChat__form
    .mainChat__form__items
      .mainChat__form__items__box
        %input.mainChat__form__items__box__text{:placeholder => "type a message", :type => "text",}
        .mainChat__form__items__box__img
          %label{class: "main_chat__form__items__img--btn"}
            = icon('fas', 'images')
            %input{type: "file", class: "main_chat__form__items__img--btn--file"}
      .mainChat__form__items__send
      = link_to edit_group_path, class: "main_chat__from__items__send--btn" do
        Send
