.mainChat__message{data: {message: {id: message.id}}}
  .mainChat__message__items
    .mainChat__message__items__title--name
      = message.user.name
    .mainChat__message__items__title--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .mainChat__message__items--write
    - if message.content.present?
      %p.mainChat__message__items--write__content
        = message.content
    = image_tag message.image.url, class: 'mainChat__message__items--write__image' if message.image.present?