.sideBar
  .sideBar__top
    .sideBar__top__items
      .sideBar__top__items__name
        masa
      .sideBar__top__items__icon
        = link_to "#", class: "sideBar__top__items__icon__btn" do
          = icon('fa', 'edit')
        = link_to "#", class: "sideBar__top__items__icon__btn" do
          = icon('fa', 'cog')
  .sideBar__list
    .sideBar__list__group
      .sideBar__list__group--name
        techcamp
      .sideBar__list__group--message
        まだメッセージはありません